body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#f6d365, #fda085);
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.no-border{
  border: none;
}

.margin-left{
  margin-left: 6px;
}

.form-control{
  width: auto;
}

.position-loader{
  position: absolute;
  width: 100%;
  margin-top: 10rem;
}

.no-tasks-color{
  color: rgb(95, 72, 59)
}


.btn-warning{
  border: 2px solid rgba(255, 255, 255, 0.473);
}

.btn-warning:hover{
  border: 2px solid rgba(255, 255, 255, 0.473);
}


.btn{
  border-radius: 2px;
}

.task-text{
  font-size: 1.5rem;
}

.student-text{
  font-weight: 700;
}

.task-box{
  background-color: white;
}

.margins{
  margin-top: 2rem;
}

.form-margins{
  margin: 2rem 0 8rem 0;
}

.title{
  color:white;
  font-weight: 800;
  margin: 3rem 0 3rem 0;
  position: relative
}

.no-padding{
  padding:0;
}

.no-margin{
  margin:0;
}

.no-overflow{
  overflow: hidden;
}

.more-size{
  font-size: 1.2rem;
  font-weight: 600;
}

.separate{
  margin: 6px 0 6px 0;
}

.gray{
  color: rgb(83, 83, 83);
  background-color: rgb(209, 209, 209);
}

.border-radius{
  border-radius: 2px;
}

.powered-style{
  font-family: 'Kalam', cursive;
  position: relative;
  bottom: 6em;
  left: 16em;
  transform: rotate(10deg);
  font-weight: 700;
  color: rgb(219, 35, 35)
}

@media (max-width: 575px) {
  .powered-style{
    bottom:2em;
    left: 0;
    transform: rotate(0);
  }
}