body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#f6d365, #fda085);
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.no-border{
  border: none;
}

.margin-left{
  margin-left: 6px;
}

.form-control{
  width: auto;
}


.btn-warning{
  border: 2px solid rgba(255, 255, 255, 0.473);
}

.btn-warning:hover{
  border: 2px solid rgba(255, 255, 255, 0.473);
}


.btn{
  border-radius: 0;
}

.task-text{
  font-size: 1.5rem;
}

.student-text{
  font-weight: 700;
}

.task-box{
  background-color: white;
}

.margins{
  margin-top: 2rem;
}

.form-margins{
  margin: 2rem 0 8rem 0;
}

.title{
  color:white;
  font-weight: 800;
  margin: 3rem 0 3rem 0;
}

.no-padding{
  padding:0;
}

.no-margin{
  margin:0;
}

.no-overflow{
  overflow: hidden;
}

.more-size{
  font-size: 1.2rem;
  font-weight: 600;
}

.separate{
  margin: 6px 0 6px 0;
}

